@import "/css/null.css";
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");
.container {
  max-width: 820px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
}

h1 h2 p button {
  line-height: 100%;
  letter-spacing: 0%;
}

h1 {
  color: white;
  font-size: 2.86rem;
}

h2 {
  font-weight: 700;
  font-size: 2.29rem;
  color: #4AB2BB;
}

p {
  font-size: 1.14rem;
  color: white;
}

button {
  background-color: #007BFB;
  padding: 10px 17px;
  color: white;
  font-weight: 700;
  font-size: 1.43rem;
}

.footer-logo {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 700;
  font-size: 2.29rem;
  color: rgba(255, 255, 255, 0.37);
}

.year {
  font-weight: 700;
  font-size: 0.86rem;
  color: rgba(255, 255, 255, 0.37);
}

.main-header {
  background: linear-gradient(#28212D, rgba(0, 0, 0, 0.5), #000000), url("/img/header-background.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.logo-container {
  width: 100%;
  background-color: #002137;
  display: flex;
  justify-content: center;
  padding: 7px 0px;
}

.header-container {
  padding: 135px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 780px;
}

.main-information {
  background-color: black;
}

.main-container {
  position: relative;
  top: -110px;
  padding: 54px 64px 84px 64px;
  background-color: #040405;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 1015px;
}

.img-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
}

.img-list_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 690px;
}

.img-list_item {
  width: 330px;
  height: 186px;
  background-color: #1F2643;
}

.line {
  min-width: 197px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.37);
}

.footer {
  align-self: self-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}

@media (max-width: 820px) {
  .container {
    max-width: 520px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .img-list_top {
    min-width: 437px;
  }
  .img-list_item {
    width: 210px;
    height: 118px;
  }
  .img-list {
    min-height: 250px;
  }
  html {
    font-size: 12px;
  }
  .haker-img {
    max-width: 200px;
  }
  .main-container {
    top: -35px;
    min-height: 700px;
    padding: 34px 40px 55px 40px;
  }
  h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 520px) {
  .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .img-list_top {
    min-width: 270px;
  }
  .img-list_item {
    width: 130px;
    height: 73px;
  }
  .img-list {
    min-height: 155px;
  }
  html {
    font-size: 10px;
  }
  .haker-img {
    max-width: 130px;
  }
  .main-container {
    top: -35px;
    min-height: 480px;
    padding: 22px 25px 35px 25px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  button {
    padding: 7px 11px;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */